In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
from scipy import stats

In [2]:
clientes_estructura = pd.read_csv("DATA/Input1_clientes_estructura.csv", sep=";")
clientes_venta = pd.read_csv("DATA/Input2_clientes_venta.csv", sep=";")

In [3]:
file_csv = 'DATA/full_clientes_venta.csv'
full_clientes_venta = pd.read_csv(file_csv)
full_clientes_venta

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr,Regional2,Gerencia2,SubCanal2,Categoria,Nevera
0,2019,5,10,1,1,1,12,0.112229,-30.590603,900.328567,1,3,1,2,1
1,2019,5,10,1,2,2,10,0.021734,0.000000,149.184463,1,3,1,2,1
2,2019,5,10,2,3,2,10,0.043469,0.000000,359.625828,1,3,1,2,1
3,2019,5,10,1,1,2,16,0.026345,-31.065261,134.748399,1,3,1,2,1
4,2019,5,10,1,4,2,10,0.086938,0.000000,496.901005,1,3,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1406111,2020,8,20577,3,39,2,10,0.039122,0.000000,544.150314,1,8,3,2,0
1406112,2020,7,20580,1,38,2,10,0.000000,0.000000,0.000000,1,10,5,6,0
1406113,2020,7,20580,3,39,2,10,0.058683,0.000000,759.218996,1,10,5,6,0
1406114,2020,9,20580,1,38,2,10,0.000000,0.000000,0.000000,1,10,5,6,0
1406115,2020,9,20580,3,39,2,10,0.019561,0.000000,269.150196,1,10,5,6,0